body {
    background-color: black;

  }

  hr   {
    background-color: black;
    border:none;
    border-top:5px dotted #eeee;
    width: 10%;
  }

  h1   {
    color: #e5e5e5;
}

  h2   {
    color: #e5e5e5;
}

  h3   {
    color: #e5e5e5;
}

  a {
    color: #e5e5e5;
  }

  p {
    color: #eeee;
  }

  label {
    color: #eeee;
  }

  li {
    color: #eeee;
  
    margin-left: auto;
    margin-right: auto;
    width: 25%;
  }

  table {
    color: #eeee;
  }

.homepageimg {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5px;
  margin-top: 5px;
  width:25%;

  }

.h1strapline {
  width:75%;
  border: 1px dashed white;
  margin-left: auto;
  margin-right: auto;
  padding:40px 25px 65px 25px;
  background-color: black;
  text-align: center;
  position:sticky;
  top: 0px;
  z-index: 1;

}
